<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head') %>
<body>
  <%- include('partials/_header', {title: "PROJECTS"}) %>

  <h2>My projects</h2>

  <%- include('partials/_footer', {hostile: true}) %>
</body>
</html>